@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('http://fonts.googleapis.com/css?family=Lora');
.CodeMirror pre {
    font-family: 'Source Code Pro', Consolas, monocco, monospace;
}

div.cell {
    //width: 950px;
    margin-left: 0% !important;
    margin-right: auto;
}

div.text_cell_render {
    font-family: 'Lora';
    line-height: 125%;
    font-size: 100%;
    text-align: justify;
    text-justify: inter-word;
}

div.text_cell code {
    background: transparent;
    color: #000000;
    font-weight: 400;
    font-size: 11pt;
    font-family: 'Source Code Pro', Consolas, monocco, monospace;
}

h1 {
    font-family: 'Open sans', verdana, arial, sans-serif;
}

div.input_area {
    background: #F6F6F9;
    border: 1px solid #586e75;
}

.text_cell_render h1 {
    font-weight: 200;
    font-size: 36pt;
    line-height: 100%;
    color: #c76c0c;
    margin-bottom: 0.5em;
    margin-top: .5em;
    display: block;
    white-space: wrap;
    text-align: left;
}

h2 {
    font-family: 'Open sans', verdana, arial, sans-serif;
    text-align: left;
}

.text_cell_render h2 {
    font-weight: 400;
    font-size: 24pt;
    line-height: 100%;
    color: #c76c0c;
    margin-bottom: 0.5em;
    margin-top: .5em;
    display: block;
    white-space: wrap;
    text-align: left;
    text-transform: uppercase;

}

h3 {
    font-family: 'Open sans', verdana, arial, sans-serif;
}

.text_cell_render h3 {
    font-weight: 200;
    font-size: 20pt;
    line-height: 100%;
    color: #d77c0c;
    margin-bottom: 0.5em;
    margin-top: 1em;
    display: block;
    white-space: wrap;
    text-align: left;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}

h4 {
    font-family: 'Open sans', verdana, arial, sans-serif;
}

.text_cell_render h4 {
    font-weight: 100;
    font-size: 16pt;
    color: #d77c0c;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    display: block;
    white-space: nowrap;
    text-indent: 30px;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}

blockquote {
    display: block;
    background: #fcfcfc;
    border-left: 5px solid #c76c0c;
    font-family: 'Open sans', verdana, arial, sans-serif;
    width: 680px;
    padding: 10px 10px 10px 10px;
    text-align: justify;
    text-justify: inter-word;
}

blockquote p {
    margin-bottom: 0;
    line-height: 125%;
    font-size: 100%;
}
